@charset "UTF-8";
/**
 * ALL the UI design credit goes to:
 * https://www.sketchappsources.com/free-source/2676-calendar-template-sketch-freebie-resource.html
 */
/* WRAPPER */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap");

body {
  font-family: bariol,Helvetica,Arial,Sans-serif;
  background: #f9f9f9;
  position: relative;
  padding-top: 65px; }

.cadastro span {
  font-size: 12px;
  color: #4181e0; }

.borderazul {
  border-radius: 5px;
  border: 2px solid #4c9ff8;
  padding: 50px; }

@media (max-width: 768px) {
  .borderazul {
    padding: 20px; } }
.btn-primary {
  color: #fff;
  background-color: #556ee6;
  border-color: #556ee6; }

.nav-pills .nav-link {
  border-radius: 10rem;
  background: #efeded; }

.navtimeline {
  padding-left: 20%;
  padding-right: 20%; }

.nometimeline {
  position: absolute;
  left: -29px;
  font-size: 1rem;
  width: 130px; }

@media (max-width: 576px) {
  .navtimeline {
    padding-left: 5%;
    padding-right: 5%; } }
.resumoplanos li {
  list-style: none;
  margin: 0px;
  padding: 0 20px 10px;
  position: relative;
  z-index: 999; }

.sombra {
  -webkit-box-shadow: 9px 10px 5px -6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 9px 10px 5px -6px rgba(0, 0, 0, 0.13);
  box-shadow: 9px 10px 5px -6px rgba(0, 0, 0, 0.13); }

.planos {
  position: relative;
  margin-bottom: 5rem; }
  .planos h4 {
    color: #000645; }
  .planos h5 {
    color: #3e54f6;
    font-family: "Red Hat Display",Sans-serif;
    font-size: 2rem;
    font-weight: 900; }
  .planos a:hover, .planos a:focus {
    text-decoration: none; }

.campoinfo {
  border-radius: 10px;
  border: 1px solid #f9f9f9;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 20px;
  width: 273px;
  margin-top: -30px;
  margin-left: 22px; }
  .campoinfo span {
    font-size: 0.8rem; }

.botoes {
  position: relative;
  margin-bottom: -2rem;
  padding-top: 10px;
  font-size: 0.8rem;
  text-align: center; }

.btn-saibamais {
  color: #fff;
  background-color: #e83e8c; }

.btn-saibamais:hover {
  color: #fff;
  background-color: #c7226f; }

.btn-saibamais:focus, .btn-saibamais.focus {
  color: #fff;
  background-color: #bb0c5e;
  box-shadow: 0 0 0 0.2rem #c7226f; }

.btn-saibamais.disabled, .btn-saibamais:disabled {
  color: #fff;
  background-color: #c7226f; }

.btn-saibamais:not(:disabled):not(.disabled):active, .btn-saibamais:not(:disabled):not(.disabled).active,
.show > .btn-saibamais.dropdown-toggle {
  color: #fff;
  background-color: #c7226f; }

.btn-saibamais:not(:disabled):not(.disabled):active:focus, .btn-saibamais:not(:disabled):not(.disabled).active:focus,
.show > .btn-saibamais.dropdown-toggle:focus {
  border-color: #4e555b; }

.btn-fale {
  color: #fff;
  background-color: #1481f2;
  border-color: #4797ec; }

.btn-fale:hover {
  color: #fff;
  background-color: #114b8a; }

.btn-fale:focus, .btn-fale.focus {
  color: #fff;
  background-color: #114b8a;
  box-shadow: #556ee6; }

.btn-fale.disabled, .btn-fale:disabled {
  color: #fff;
  background-color: #556ee6; }

.btn-fale:not(:disabled):not(.disabled):active, .btn-fale:not(:disabled):not(.disabled).active,
.show > .btn-fale.dropdown-toggle {
  color: #fff;
  background-color: #556ee6;
  border-color: #4e555b; }

.btn-fale:not(:disabled):not(.disabled):active:focus, .btn-fale:not(:disabled):not(.disabled).active:focus,
.show > .btn-fale.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5); }

/*conte├║do modal */
.div-select {
  /* Tamanho final do select */
  overflow: hidden;
  /* Esconde o conte├║do que passar do tamanho especificado */ }

.div-select select {
  background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif) no-repeat #354880;
  /* Imagem de fundo (Seta) */
  background-position: 205px center;
  /*Posi├º├úo da imagem do background*/
  /* Tamanho do select, maior que o tamanho da div "div-select" */
  height: 48px;
  /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
  font-family: Arial, Helvetica, sans-serif;
  /* Fonte do Select */
  font-size: 18px;
  /* Tamanho da Fonte */
  padding: 13px 20px 13px 12px;
  /* Configura├º├╡es de padding para posicionar o texto no campo */
  color: #fff;
  /* Cor da Fonte */
  text-indent: 0.01px;
  /* Remove seta padr├úo do FireFox */
  text-overflow: "";
  /* Remove seta padr├úo do FireFox */
  /* Remove seta padr├úo do IE*/ }
  .div-select select select::-ms-expand {
    display: none; }

.areaselect {
  display: flex;
  align-items: center;
  justify-content: center; }

.tituloaba {
  text-align: center;
  font-size: 0.7rem; }
  .tituloaba h5 {
    font-size: 0.9rem !important; }

.textexpliactivo {
  padding: 10px;
  background: #efeded;
  text-align: center;
  font-size: 0.8rem;
  min-height: 140px; }

.precodetalhes {
  background: #bababa;
  color: #1373bf;
  padding: 15px;
  border-radius: 0px 0px 10px 10px; }

ul > li {
  list-style: none; }

.nav-link {
  display: block;
  padding: 1.5rem 2rem; }

.cardplanos {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.19);
  min-height: 545px;
  z-index: 87;
  color: #1481f2; }

.chamadaprecoplanos {
  background: url("../images/bg-top-planos.png") no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  height: 203px;
  color: #fff; }
  .chamadaprecoplanos h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; }

.chamadaprecoplanos2 {
  background: url("../images/bg-top-planos2.png") no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  height: 300px;
  color: #fff; }
  .chamadaprecoplanos2 h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; }

@media (max-width: 376px) {
  .chamadaprecoplanos {
    height: 196px;
    padding-bottom: 20px; } }
@media (max-width: 360px) {
  .chamadaprecoplanos {
    height: 184px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 20px; }

  .chamadaprecoplanos2 {
    height: 272px;
    padding-bottom: 20px; } }
@media (min-width: 361px) and (max-width: 413px) {
  .chamadaprecoplanos {
    height: 193px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 20px; }

  .chamadaprecoplanos2 {
    height: 279px !important;
    padding-bottom: 20px; } }
@media (min-width: 414px) and (max-width: 768px) {
  .chamadaprecoplanos {
    height: 219px;
    padding-bottom: 20px; }

  .chamadaprecoplanos2 {
    height: 319px;
    padding-bottom: 20px; } }
@media (max-width: 768px) {
  .comofunciona {
    display: none; } }
.preco {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -14px !important; }
  .preco span {
    float: left;
    font-size: 1.3rem; }
  .preco h2 {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem; }

.listaservicos {
  color: #1481f2; }
  .listaservicos ul {
    margin-left: -30px;
    line-height: 1.7rem; }
  .listaservicos li {
    font-size: 0.9rem;
    color: #1481f2; }
  .listaservicos p span {
    font-size: 0.9rem;
    color: #1481f2; }

.itemplano {
  border-radius: 5px;
  padding: 1rem;
  min-height: 200px;
  background: #efeded;
  border: #ccc;
  margin-bottom: 25px;
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  justify-content: center; }

.botaoassinar {
  position: absolute;
  right: 10px; }

.tituloazul {
  color: #1481f2 !important; }

/*formulario pagina 2 */
.titnavs {
  border-radius: 10rem;
  background: #efeded;
  padding: 20px;
  width: 68px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 1.2rem; }

.titnavsSel {
  color: #fff !important;
  background-color: #007bff !important; }

@media (max-width: 460px) {
  .titnavs {
    border-radius: 10rem;
    padding: 10px;
    width: 43px;
    font-size: 1rem; } }
#formulario #progress li {
  list-style: none;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  float: left;
  width: 33.33%;
  position: relative; }

#formulario #progress li:before {
  content: counter(step);
  width: 20px;
  display: block;
  line-height: 20px;
  background: #efeded;
  columns: #333;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 auto 10px auto; }

#formulario #progress li:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 9px;
  left: -50px;
  z-index: -1; }

#formulario #progress li:first-child:after {
  content: none; }

#formulario #progress li.ativo:before, #formulario #profess li.ativo:after {
  background: #ccc;
  color: #fff; }

.menususpenso {
  position: absolute;
  width: 150px;
  height: auto;
  z-index: 999;
  border-radius: 8px; }
  .menususpenso li {
    height: 120px; }

.azul {
  background: #0bbafb;
  background: linear-gradient(128deg, #0bbafb 0%, #4285ec 100%);
  color: #fff;
  padding: 9px 12px 0px;
  list-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.5rem; }
  .azul a {
    color: #fff; }
  .azul a:hover, .azul a:focus {
    text-decoration: none; }

.verde1 {
  background: #0bfb87;
  background: linear-gradient(128deg, #0bfb87 0%, #00a79d 100%);
  color: #fff;
  padding: 9px 12px 0px;
  list-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.5rem; }
  .verde1 a {
    color: #fff; }
  .verde1 a:hover, .verde1 a:focus {
    text-decoration: none; }

.verde2 {
  background: #418162;
  background: linear-gradient(128deg, #418162 0%, #51e570 100%);
  color: #fff;
  padding: 9px 12px 0px;
  list-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.5rem; }
  .verde2 a {
    color: #fff; }
  .verde2 a:hover, .verde2 a:focus {
    text-decoration: none; }

.laranja {
  background: #e5be7d;
  background: linear-gradient(128deg, #e5be7d 0%, #feb02f 100%);
  color: #fff;
  padding: 9px 12px 0px;
  list-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.5rem; }
  .laranja a {
    color: #fff; }
  .laranja a:hover, .laranja a:focus {
    text-decoration: none; }

.laranja2 {
  background: #e5b228;
  background: linear-gradient(128deg, #e5b228 0%, #f45918 100%);
  color: #fff;
  padding: 9px 12px 0px;
  list-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.5rem; }
  .laranja2 a {
    color: #fff; }
  .laranja2 a:hover, .laranja2 a:focus {
    text-decoration: none; }

.marrom {
  background: #da9f20;
  background: linear-gradient(128deg, #da9f20 0%, #c55a11 100%);
  color: #fff;
  padding: 9px 12px 0px;
  list-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.5rem; }
  .marrom a {
    color: #fff; }
  .marrom a:hover, .marrom a:focus {
    text-decoration: none; }

.abamenususpenso {
  width: 400px;
  min-height: 200px;
  color: #fff;
  padding: 1rem;
  font-size: 0.9rem;
  animation-duration: 2s;
  position: absolute;
  left: 10rem;
  top: 2px; }
  .abamenususpenso span, .abamenususpenso a {
    font-size: 0.7rem;
    color: #fff; }
  .abamenususpenso hr {
    background: #fff; }

.abamenususpensoAzul {
  background: #0bbafb;
  background: linear-gradient(128deg, #0bbafb 0%, #4285ec 100%); }

.abamenususpensoverde1 {
  background: #0bfb87;
  background: linear-gradient(128deg, #0bfb87 0%, #00a79d 100%);
  color: #fff; }

.abamenususpensoverde2 {
  background: #418162;
  background: linear-gradient(128deg, #418162 0%, #51e570 100%);
  color: #fff; }

.abamenususpensolaranja {
  background: #e5be7d;
  background: linear-gradient(128deg, #e5be7d 0%, #feb02f 100%);
  color: #fff; }

.abamenususpensolaranja2 {
  background: #e5b228;
  background: linear-gradient(128deg, #e5b228 0%, #f45918 100%);
  color: #fff; }

.abamenususpensomarrom {
  background: #da9f20;
  background: linear-gradient(128deg, #da9f20 0%, #c55a11 100%);
  color: #fff; }

.itemmenususpenso {
  position: relative; }
  .itemmenususpenso h5 {
    padding-top: 10px; }

.btnservicos {
  background: #42aee3;
  color: #fff;
  border: 0px;
  border-radius: 0px; }

.btnitemaba {
  background: #092932;
  color: #fff;
  border: 0px;
  border-radius: 0px;
  margin-top: 10px;
  border-radius: 8px; }

.btnitemaba:hover {
  color: #fff;
  background: #06151a;
  text-decoration: none; }

.btnitemaba:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #007bff40; }

/*# sourceMappingURL=main.css.map */
