
@import 'calendario.scss';

body {
    font-family: bariol,Helvetica,Arial,Sans-serif;
    background: #f9f9f9;
    position: relative;
    padding-top: 65px;
}
.cadastro  span{
    font-size: 12px;
    color: #4181e0;
}

.btn-primary {
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
}
.nav-pills .nav-link {
    border-radius: 10rem;
}
.navtimeline {
    padding-left: 20%;
    padding-right: 20%;

}
@media (max-width: 576px) {
    .navtimeline {
        padding-left: 5%;
        padding-right: 5%;
    
    }
  }
.resumoplanos li{
    list-style: none;
    margin: 0px;
    padding: 0 20px 10px;
    position: relative;
    z-index: 999;
} 
.sombra {
    -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.13);
    -moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.13);
    box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.13);
} 
.planos {
    margin-bottom: 5rem;
    h4{
        color: #000645;
    }
    h5{
        color: #3e54f6;
        font-family: "Red Hat Display",Sans-serif;
        font-size: 2rem;
        font-weight: 900;
        
    }
    a:hover {

 
    text-decoration: none !important;
    color: #1865bd;
    animation-duration: 1s;
    animation-name: slidein;
    }
}
.card {
    border-radius: 10px;
    border:none;
}

@keyframes slidein {
    from {
        margin-top: 0;
    }
  
    to {
        margin-top: -5px;

    }
  }


